.dashboard-post {
  width: 300px;
  height: 250px;
  padding: 1rem;
  background: #fffcf2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-post a {
  display: block;
}
