.post-detail {
   width: 300px;
    height: 250px;
    padding: 1rem;
    background: #fffcf2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post-detail img {
  width: 100%;
  object-fit: cover;
}

.created-by {
  font-style: italic;
  font-size: 0.8em;
}
